body {
  font-family: 'Comic Sans MS';
   background: linear-gradient(to bottom right, #ff99ff , #66ffff );
}
#Chicken {
	background-color: green;
}

H1 {
width : 40% ;
height: 10% ;
border: 1px solid blue ;
padding : 5px;
margin-left: auto;
margin-right: auto;
background: linear-gradient(to top left,  #e6faff , #00ff99);
}

section{
	width : 90%;
	height : 20%;
	margin: 30px;
	padding: 20px;
	padding-right: 15px;
	background: linear-gradient(to top left,  #e6faff , #00ff99);
	border: 1px solid black;
}